<footer class="bg--dark">
    <div class="grid">
        <div class="editable footer__info grid__item one-third lap-sm--one-whole">
            <h4>Is your business in Connersville?</h4>
            <p>Zellous Design is a small business in Connersville, IN, so I'm offering <strong>20% off</strong> all my services (web design, hourly rate, maintenance plans) to fellow local businesses.</p>
        </div>
        <div class="editable footer__info grid__item one-third lap-sm--one-whole">
            <h4>Ready to get in touch?</h4>
            <p>Tell me about your business and website (or plan for a website)!</p>
            <a class="btn--inline" href="/get-in-touch/" target="_blank">Get in touch</a>
        </div>
        <div class="editable footer__info grid__item one-third lap-sm--one-whole">
            <h4>Zellous Design</h4>
            <p>Connersville, IN</p>
            <p>765-831-2142<br>
            <a href="mailto:brandon@zellous.design" target="_blank">brandon@zellous.design</a></p>
            <div class="footer__social-icons">
                <a class="footer__social-icon" href="https://www.facebook.com/zellousdesign" target="_blank"><i class="fa fa-facebook-square"></i></a>
                <a class="footer__social-icon" href="https://plus.google.com/+ZellousDesign/about" target="_blank"><i class="fa fa-google-plus-square"></i></a>
                <a class="hide footer__social-icon" href="https://linkedin.com/zellous-design" target="_blank"><i class="fa fa-linkedin-square"></i></a>
            </div>
        </div>
    </div>
    <div class="footer__bottom content">
        <div class="footer__legal">
            <small class="editable">© 2016 {{ site.name }}. <a href="/privacy-policy" class="privacy-policy-link">Privacy Policy</a> <span class="footer__spacer">|</span> <span class="zellous-sig">Web design by <a href="/">Zellous Design</a></span></small>
        </div>
        <div class="footer__links">
            <nav class="editable footer__nav">
                <small>
                    {% include nav.html %}
                </small>
            </nav>
        </div>
    </div>
</footer>