{% if page.hero_brightness_level == "dark" %}
    {% assign logo = "/img/logo--dark.png" %}
{% else %}
    {% assign logo = "/img/logo.png" %}
{% endif %}
<header>
    <div class="grid grid--center">
        <div class="grid__item one-sixth">
            <a class="header__logo" href="/"><img class="editable" src="{{ logo }}" alt="Zellous Design logo" /></a>
        </div>
        <div class="header__nav grid__item five-sixths">
            <nav>
                <p class="editable">
                    {% include nav.html %}
                </p>
            </nav>
            <div class="mobile-menu__btn">MENU <i class="fa fa-navicon"></i></div>
        </div>
    </div>
</header>